<div class="container">
    <h1>Submit details</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required</div>
        <div [hidden]="authenticationError === ''" class="alert alert-danger">Authentication Failed {{authenticationError}}</div>
      </div>

      <button type="submit" class="btn btn-default" (click)="onSubmit()">Log in</button>

    </form>
</div>

